@nilmod {
	/* There is no id field. The filename defines the id of the mod. */
	name: "Loki";
	description: "An example mod for NilLoader.";
	authors: "Unmojang";
	version: "${version}";
}

entrypoints {
	/* premain is the only entrypoint defined by NilLoader itself. */
	premain: "com.unmojang.loki.Premain";
}
