@nilmod {
	/* There is no id field. The filename defines the id of the mod. */
	name: "Loki";
	description: "Patch (nearly) any Minecraft version to use custom API servers";
	authors: "Unmojang";
	version: "${version}";
}

entrypoints {
	/* premain is the only entrypoint defined by NilLoader itself. */
	premain: "org.unmojang.loki.Premain";
}
